html,body {
    height:100%;
    background:#444;
}

header {
    display:block;
    padding:10px 0px;
}

section {
    width: 79%;
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
    color: white;
}

footer {
    position: relative;
    margin-top: -50px;
    height: 40px;
    padding:5px 0px;
    clear: both;
    background: #444;
    text-align: center;
}